<section class="grid grid-3col">
  <aside class="sidebar">
    {{> "systems/darksouls/templates/actor/parts/stats/stats-pane.html"}}

    {{> "systems/darksouls/templates/actor/parts/stats/resist-pane.html"}}
  </aside>

  {{!-- Span the right two columns for main features display (might change later) --}}
  <section class="main grid-span-2">
    {{!-- Individual panes go here --}}

    {{> "systems/darksouls/templates/actor/parts/stats/estus-pane.html"}}

    {{> "systems/darksouls/templates/actor/parts/stats/weapons-pane.html"}}

    {{> "systems/darksouls/templates/actor/parts/stats/armor-pane.html"}}

    {{> "systems/darksouls/templates/actor/parts/stats/consumables-pane.html"}}

    {{> "systems/darksouls/templates/actor/parts/stats/ammunition-pane.html"}}

    {{> "systems/darksouls/templates/actor/parts/stats/rings-pane.html"}}

    {{> "systems/darksouls/templates/actor/parts/stats/damage-pane.html"}}

  </section>
</section>
