<div class="tab stats" data-group="primary" data-tab="stats">
  <section class="grid grid-3col">
    <aside class="sidebar">
      <div class="stats flexcol">
        <div class="resource-label flex-group-center flex0">{{localize "DARKSOULS.Stats"}}</div>

        {{#each system.stats as |stat key|}}
        <div class="stat flexrow flex-group-center">
          <label for="system.stats.{{key}}.base" class="resource-label flexlarge align-left rollable" data-label="{{stat.label}}" data-roll="2d6+@{{key}}Mod">{{stat.label}}</label>
          <input type="text" name="system.stats.{{key}}.base" value="{{stat.base}}" data-dtype="Number" />
          <span class="stat-mod rollable" data-label="{{stat.label}}" data-roll="2d6+@{{key}}Mod">{{numberFormat stat.mod decimals=0 sign=true}}</span>
        </div>
        {{/each}}
      </div>
    </aside>

    {{!-- Span the right two columns for main features display (might change later) --}}
    <section class="main grid-span-2">
      {{!-- Weapon/armor panes go here --}}
      <div class="weapons flexcol">
        <div class="resource-label flex-group-center flex0">{{localize "DARKSOULS.Weapons"}}</div>

        <div class="weapon flexrow flex-group-center">
          <label for="system.damage" class="flexlarge align-left">{{localize "DARKSOULS.DamageValue"}}</label>
          <input type="text" name="system.damage" value="{{system.damage}}" data-dtype="Number" />
          <label for="system.attackIsMagical" class="flexlarge">Magical?</label>
          <input type="checkbox" name="system.attackIsMagical" {{checked system.attackIsMagical}} />
          <button class="click-damage-calc" type="button">{{localize "DARKSOULS.CalculateDamage"}}</button>
        </div>
      </div>
      <div class="armor flexcol">
        <div class="resource-label flex-group-center flex0">{{localize "DARKSOULS.Armor"}}</div>

        {{!-- Add place for phys and magical defense and weight --}}
      </div>
    </section>
  </section>

  <div class="resource-label flex-group-center flex0">Notes</div>

  {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
  {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
</div>
