<div class="prereqs-pane">
  <div class="resource-label flex-group-center flex0">{{localize "DARKSOULS.Prerequisites"}}</div>
  <div class="flexcol">
    <div class="flexrow">
      <select name="system.prereqs.0.stat" {{disabled editLocked}}>
        {{selectOptions DARKSOULS.prereqStats selected=system.prereqs.0.stat blank="---"}}
      </select>
      <input type="number" name="system.prereqs.0.value" value="{{system.prereqs.0.value}}" data-dtype="Number" {{disabled editLocked}}/>
    </div>
    {{#if system.prereqs.0.value}}
    <div class="flexrow">
      <select name="system.prereqs.1.stat" {{disabled editLocked}}>
        {{selectOptions DARKSOULS.prereqStats selected=system.prereqs.1.stat blank="---"}}
      </select>
      <input type="number" name="system.prereqs.1.value" value="{{system.prereqs.1.value}}" data-dtype="Number" {{disabled editLocked}}/>
    </div>
    {{/if}}
    {{#if system.isSkill}}
    <div class="flexrow">
      <select name="system.prereqs.class" {{disabled editLocked}}>
        {{selectOptions DARKSOULS.classes selected=system.prereqs.class blank="---"}}
      </select>
    </div>
    {{/if}}
  </div>
</div>