<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "DARKSOULS.Attributes"}}</a>
    <a class="item" data-tab="description">{{localize "DARKSOULS.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="grid grid-2col">
        {{!-- Row 1 --}}
        <div class="resource">
          <label class="resource-label">{{localize "DARKSOULS.Quantity"}}</label>
          <input type="text" name="system.qty" value="{{system.qty}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DARKSOULS.AmmoType"}}</label>
          <select name="system.ammoType" {{disabled editLocked}}>
            {{selectOptions DARKSOULS.ammoTypes selected=system.ammoType localize=true}}
          </select>
        </div>
        {{!-- Row 2 --}}
        <div class="resource">
          <label class="resource-label">{{localize "DARKSOULS.DamageBonus"}}</label>
          <input type="number" name="system.damageBonus" value="{{system.damageBonus}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DARKSOULS.DamageType"}}</label>
          <select name="system.damageType" {{disabled editLocked}}>
            {{selectOptions DARKSOULS.damageTypes selected=system.damageType blank="None" localize=true}}
          </select>
        </div>
        {{!-- Row 3 --}}
        <div class="resource">
          <label class="resource-label">{{localize "DARKSOULS.Set"}}</label>
          <input type="text" name="system.set" value="{{system.set}}" data-dtype="Number" {{disabled editLocked}}/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "DARKSOULS.Value"}}</label>
          <input type="text" name="system.value" value="{{system.value}}" data-dtype="Number" {{disabled editLocked}}/>
        </div>
      </div>
    </div>
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/darksouls/templates/item/parts/tab-description.html"}}
    </div>
  </section>
</form>